.leftSide {
    position: relative;
}

.imgPokedex {
    border-radius: 30px 10px 10px 30px;
    -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}

.pokemonName {
    position: absolute;
    bottom: 205px;
    left: 60px;
    color: gray
}  

.pokemonImg {
    position: absolute;
    left: 100px;
    bottom: 260px;
    height: 90px
}

.visorH {
    position: absolute;
    left: 25px;
    bottom: 50px;
    width: 250px;
    height: 130px;
    border-radius: 8px;
    box-shadow: -2px 3px #888, -3px 5px 0 #333;
}

.habilities {
    position: absolute;
    left: 25px;
    bottom: 50px;
    width: 250px;
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}
